doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    //include ./include/head
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body(style = "margin-bottom:50px")
    //include ./include/hearder
    block content
