.search_area {
    width: 30%;
    float: right;
    background-color: #eff0f2;
    border-radius: 6px;
    margin-right: 1em;
    min-width: 10px;
}

.search_class {
    border-radius: 6px;
    text-align: center;
    min-width: 600px;
}

.search_class th {
    text-align: center;
}

.input-s,
.form-group-sm .form-control,
.form-group-sm .select2-search input[type="text"],
.select2-search input[type="text"] {
    height: 20px;
    padding: 5px 5px;
    font-size: 13px;
    line-height: 1.462;
    border-radius: 6px;
    width: 26%;
    display: inline-block;
    margin:5px
}

.form-control1,
.select2-search1 input[type="text"] {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.467;
    /*padding: 8px 12px;*/
    height: 42px;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.select1 {

    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 20px;
    margin:5px
}

.checkbox1 .icons,
.radio .icons {
    color: #bdc3c7;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-device-width: 700px) {
    .select1 {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: auto;
        margin:3px
    }
    .form-control1,
    .select2-search1 input[type="text"] {
        border: 2px solid #bdc3c7;
        color: #34495e;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 1.467;
        /*padding: 8px 12px;*/
        height: 42px;
        width: auto;
        border-radius: 6px;
        box-shadow: none;
        -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
        transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    }
}

.login_area {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #eff0f2;
    border-radius: 6px;
    min-width: 100px;
}

.btn1-wide1 {
    min-width: 40px;
    height: 25px;
    float: right;
    margin-top: 3px;
    background-color: #3a7e70;
    margin-right:12px

}
.btn1 {
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 0.8;
    border-radius: 4px;
    /*padding: 10px 15px;*/
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.btn1:hover,
.btn1:focus {
    outline: none;
    color: #ffffff;
}
.label1 {
    font-weight: normal;
    line-height: 1.3;
}

.modal_background_color{
    background-color: white;
}

.btn1-wide2 {
    min-width: 40px;
    height: 25px;
    margin-top: 3px;
    background-color: #3a7e70 ;
}
.modal_width{
    width: 400px;
    padding:5px
}